html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: inherit;
  border-width: 0;
  outline: none; }

body {
  line-height: 1.5; }

strong {
  font-weight: 500; }

address {
  font-style: normal; }

.nav {
  color: black;
  text-transform: uppercase; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none; }
  .nav__item {
    padding: 7px 20px;
    margin-right: 85px;
    border-radius: 10px; }
    .nav__item-active {
      background-color: #d5d5aa; }
  .nav__link {
    color: white;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .nav__link:hover {
      color: #d5d5aa; }

@media screen and (max-width: 999px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.header {
  height: 765px;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__nav {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 35px;
    left: calc(50% - 57.5px);
    color: white; }
  .header__phone {
    margin: 0 82px; }
  .header__phone, .header__action {
    position: relative;
    top: 47px; }
  .header__link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px dashed;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .header__link-phone {
      border-bottom: none; }
    .header__link:hover {
      color: #d5d5aa; }

@media screen and (max-width: 999px) {
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .header__phone {
    margin: -30px 0 10px; } }

.logo {
  width: 115px;
  height: 76px; }

.section {
  padding: 100px calc(50% - 470px);
  position: relative;
  background-color: white; }
  .section:nth-child(even) {
    background-color: #eee; }
  .section__heading {
    left: 0;
    right: 0;
    top: -0.5em;
    margin: auto; }

@media screen and (max-width: 999px) {
  .section {
    padding-left: 40px;
    padding-right: 40px; } }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .info__heading {
    width: 314px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 60px;
    margin: 0; }
  .info__text {
    max-width: 564px;
    line-height: 24px; }
    .info__text > :first-child {
      margin-top: 0; }
    .info__text > :last-child {
      margin-bottom: 0; }

@media screen and (max-width: 999px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .info__heading {
      margin-bottom: 16px; } }

.heading {
  font-size: 48px;
  line-height: 1;
  position: absolute;
  text-transform: uppercase;
  font-weight: 300;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
  .heading::before, .heading::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(100% + 5px);
    height: 2px;
    width: calc(50% - 20px);
    background-color: #00aaef; }
  .heading::before {
    left: 0; }
  .heading::after {
    right: 0; }
  .heading__crown {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 20px;
    height: 13px;
    top: calc(100% + 4px);
    display: block;
    background-image: url(../images/crown.svg); }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos__img {
    width: calc(50% - 10px);
    height: 260px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
    .photos__img--wide_left:first-child {
      width: calc(67% - 10px); }
    .photos__img--wide_left:last-child {
      width: calc(33% - 10px); }
    .photos__img--wide_right:first-child {
      width: calc(33% - 10px); }
    .photos__img--wide_right:last-child {
      width: calc(67% - 10px); }

.gallery__caption {
  margin: 12px 0 35px; }

.gallery__button {
  margin: 44px auto 0; }

.button {
  display: block;
  font-size: 14px;
  line-height: 1;
  color: white;
  padding: 19px 62px;
  text-transform: uppercase;
  background-color: #00aaef;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer; }
  .button:hover {
    background-color: #2f80ed; }

.link {
  color: #00aaef;
  text-decoration: none;
  -webkit-transform: color 0.2s;
          transform: color 0.2s; }
  .link:hover {
    color: #2f80ed; }
  .link__contact {
    color: black; }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .consultation__text {
    width: 480px; }
  .consultation__heading {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 24px; }
  .consultation__form {
    width: 380px; }

@media screen and (max-width: 999px) {
  .consultation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .consultation__text, .consultation__form {
      width: 100%; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__item {
    display: block;
    margin-bottom: 8px;
    width: 100%; }
  .form__input, .form__button {
    display: block;
    margin-bottom: 8px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.input {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #393939;
  padding: 24px;
  background-color: #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  line-height: 1; }
  .input::-webkit-input-placeholder {
    color: inherit; }
  .input::-moz-placeholder {
    color: inherit; }
  .input:-ms-input-placeholder {
    color: inherit; }
  .input::-ms-input-placeholder {
    color: inherit; }
  .input::placeholder {
    color: inherit; }
  .input__textarea {
    height: 166px; }

.testimonials {
  display: grid;
  grid-gap: 65px;
  grid-template-columns: repeat(3, 200px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media screen and (max-width: 999px) {
  .testimonials {
    grid-template-columns: 200px; } }

.person {
  text-align: center; }
  .person__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%; }
  .person__name {
    margin-top: 12px;
    font-weight: bold; }
  .person__position {
    margin: 0;
    color: #696973;
    font-style: italic; }
  .person__text {
    position: relative; }
    .person__text::after {
      position: absolute;
      content: "";
      display: block;
      width: 40px;
      height: 33px;
      background-image: url(../images/quotes.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      right: calc(100% + 6px);
      bottom: calc(100% + 6px); }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contact__text {
    font-size: 24px;
    width: 280px; }
  .contact__form {
    width: 380px; }

@media screen and (max-width: 999px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact__text, .contact__form {
      width: 100%; } }

.footer {
  height: 540px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: -1;
  background-image: url(../images/footer.jpg);
  background-size: cover;
  background-position: center; }
  .footer__logo {
    position: absolute;
    bottom: 95px;
    left: 0;
    right: 0;
    margin: auto; }

/*# sourceMappingURL=main.css.map */
